name = "poto"
main = "src/index.ts"
compatibility_date = "2025-12-01"
workers_dev = true

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "poto"

[[d1_databases]]
binding = "DB"
database_name = "poto"
database_id = "6ed106fe-7d51-4803-ba13-3ca6ff07c910"

[vars]
SITE_TITLE = "Poto"
CLOUDFLARE_ACCOUNT_ID = "7831d21cea4fc12c509aaa9ca2d050a6"
R2_BUCKET_NAME = "poto"
D1_DATABASE_ID = "6ed106fe-7d51-4803-ba13-3ca6ff07c910"
