body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#preview {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: azure;
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview img {
    width: 90%;
    height: auto;
    margin: 20px;

}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    background-color: #f9f9f9;
}

#text-to-copy {
    background-color: white;
    max-width: 100%;
}

#label-to-copy {
    width: 90%;
    margin-top: 30px;
    margin: 10px;
    background-color: white;
    border: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}#                                                                                                                                                                             ~ ---